body {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: beige;
}

th {
    background-color: rgb(139, 89, 89);
    border: 2px solid chocolate;
    padding: 4px;
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}