.formLogin {
    width: 257px;
    margin: 50px auto 0;
    font-family: sans-serif;
}

.formLogin fieldset {
    background-color: #ccc;
}

.formLogin label {
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}

#user, #pass, .btn {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    border: none;
}

#user:focus, #pass:focus {
    background-color: #ddd;
}

.btn {
    margin-top: 15px;
}

#user {
    margin-bottom: 15px;
}


.file {
    font-size: 10px;
}