p::first-letter {
    float: left;
    font-size: 3em;
    display: inline-block;
    margin-right: .1em;
}

p::first-line {
    color: red;
}

p::selection {
    background-color: yellow;
}

p::-moz-selection {
    background-color: yellow;
}