body {
    background-color: yellow;
}

.teste {
    background-color: red;
    width: 380px;
    height: 50px;
}

@media screen and (min-width: 650px) {
    body {
        background-color: orange;
    }
}