.flexbox {
    height: 250px;
    border: 1px solid red;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

.flexbox div {
    background-color: orange;
    width: 300px;
    margin: 15px;
}
.flexbox:nth-child(4) {
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
}
.flexbox:nth-child(5) {
    justify-content: space-around;
    /* center - centraliza, flex-start - esquerda, flex-end - direita, space-around - pega os espacos remanescentes e distribui centralizando, space-between - espaco entre eles e colados */
}
.flexbox:nth-child(5) div {
    width: 20px;
}
.flexbox:nth-child(6) {
    align-items: center;
    justify-content: center;
}
.flexbox:nth-child(6) div {
    width: 20px;
}
.flexbox:nth-child(7) {
    align-items: baseline;
}
.flexbox:nth-child(8) {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.flexbox:nth-child(8) div {
    width: 100px;
}