.flexbox {
    height: 250px;
    border: 1px solid red;
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

.flexbox div {
    background-color: orange;
    width: 300px;
    margin: 15px;
}
.flexbox:nth-child(4) {
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row nowrap;
}

.flexbox:nth-child(5) {
    justify-content: space-around;
    /* center - centraliza, flex-start - esquerda, flex-end - direita, space-around - pega os espacos remanescentes e distribui centralizando, space-between - espaco entre eles e colados */
}
.flexbox:nth-child(5) div {
    width: 20px;
    background-color: red;
}

.flexbox:nth-child(6) {
    align-items: center;
    justify-content: center;
}
.flexbox:nth-child(6) div {
    width: 20px;
}

.flexbox:nth-child(7) {
    align-items: baseline;
}

.flexbox:nth-child(8) {
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    align-content: stretch;
}
.flexbox:nth-child(8) div {
    width: 100px;
}

.flexbox:nth-child(9) {
    justify-content: center;
    align-items: center;
}
.flexbox:nth-child(9) div {
    background-color: yellow;
    flex-basis: 50px;
    height: 50px;
}

.flexbox:nth-child(10) {
    justify-content: center;
    align-items: center;
}
.flexbox:nth-child(10) div {
    background-color: yellow;
    flex-basis: 50px;
    height: 50px;
}
.flexbox:nth-child(10) div:nth-child(2) {
    flex-grow: 2;
    /* dividi os espacos sobrando e inseri na largura do elemento */
}
.flexbox:nth-child(10) div:nth-child(4) {
    flex-grow: 1;
}

.flexbox:nth-child(11) {
    justify-content: center;
    align-items: center;
}
.flexbox:nth-child(11) div {
    background-color: yellow;
    flex-basis: 300px;
    height: 50px;
}
.flexbox:nth-child(11) div:nth-child(2) {
    flex-shrink: 2;
    /* dividi os espacos sobrando e diminui na largura do elemento */
}
.flexbox:nth-child(11) div:nth-child(4) {
    /* flex-shrink: 1; */
    /* ordem abaixo - grow, shrink e basis */
    flex: 0 2 100px;
}

.flexbox:nth-child(12) div:nth-child(2) {
    order: 3;
}
.flexbox:nth-child(12) div:nth-child(4) {
    order: 2;
}
.flexbox:nth-child(12) div:nth-child(3) {
    order: 4;
}

.flexbox:nth-child(13) {
    align-items: flex-start;
}
.flexbox:nth-child(13) div:nth-child(2) {
    align-self: flex-end;
}
.flexbox:nth-child(13) div:nth-child(3) {
    align-self: center;
}
.flexbox:nth-child(13) div:nth-child(1) {
    align-self: stretch;
}

.flexbox:nth-child(14) {
    /* defini os elementos na vertical */
    justify-content: center;
    /* defini os elementos na horizontal */
    align-items: flex-end;
    /* colum, inverte os valores acimas */
    flex-direction: column;
    height: 500px;
}
.flexbox:nth-child(14) div {
    flex-basis: 60px;
}