.gridContainer {
    width: 100%;
    background-color: #ccc;
}

.gridItem {
    background-color: #999;
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px 15px;
}
.gridItem:nth-child(even) {
    background-color: #999;
    color: white;
}
.gridItem:nth-child(odd) {
    background-color: #eee;
}

/* GRID */
.gridContainer {
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-template-rows: 100px 100px 100px;
    /* grid-row-gap: 30px;
    grid-column-gap: 15px; */
    grid-gap: 30px 10px;
}

.gridItem:nth-child(1) {
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}