.calculator {
    width: 30%;
    margin: 10px auto;
    background-color: #ccc;
    font-family: sans-serif;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 40px);
    /* grid-auto-rows: 40px; */
    grid-gap: 5px;
    padding: 15px;
    float: left;
}

.display {
    grid-column: 1 / 5;
    background-color: #d8d8d8;
    /* no lugar do border-top e left, pode ser colocado box-shadow: inset 3px 4px white */
    border-top: 4px solid white;
    border-left: 3px solid white;
    border-radius: 8px;
    text-align: right;
    padding: 10px;
    font-size: 1.2em;
}
.zero, .mais {
    background-color: #bbb;
    border-top: 4px solid white;
    border-left: 3px solid white;
}
button:hover {
    background-color: #ddd;
}
.zero {
    grid-row: 6 / 7;
    grid-column: 1 / 3
}
.mais {
    grid-row: 5 / 7;
    grid-column: 4 / 5;
}

img {
    float: left;
    margin-right: 50px;
}